name: ktlint

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/**'
      - '.github/workflows/ktlint.yml'
      - 'ci/ktlint/**'
      - '.editorconfig'
      - 'app/src/**'
      - 'gradle/**'
      - '**/*.gradle.kts'
      - '**/gradle.properties'
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Android
        uses: ./.github/actions/setup-android
        with:
          fetch-depth: 0

      - name: Run Inspection
        run: ./gradlew ktlintCheck --no-daemon

      - name: Setup Ruby, JRuby and TruffleRuby
        if: github.event_name == 'pull_request'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Cache Ruby gems
        uses: actions/cache@v4
        if: github.event_name == 'pull_request'
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('ci/ktlint/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ hashFiles('ci/ktlint/Gemfile.lock') }}
            ${{ runner.os }}-gems-${{ hashFiles('ci/ktlint/Gemfile') }}
            ${{ runner.os }}-gems-

      - uses: MeilCli/danger-action@v6
        if: github.event_name == 'pull_request'
        with:
          plugins_file: 'ci/ktlint/Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'ci/ktlint/Dangerfile'
          danger_id: 'danger-pr-ktlint'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
