name: Release Drafter

on:
  push:
    branches:
      - main
  # pull_request:
  #   types: [opened, reopened, synchronize]
  # PR trigger is optional for label verification, but main trigger is essential for draft creation.

permissions:
  contents: write
  pull-requests: read

jobs:
  update_release_draft:
    permissions:
      contents: write  # for creating releases
      pull-requests: read # for reading PR details
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
