name: unitTest

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.*'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/README.*'
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Android
        uses: ./.github/actions/setup-android
        with:
          fetch-depth: 0

      - name: Test with Gradle
        run: |
          ./gradlew testDebugUnitTest --no-daemon
          ./gradlew koverXmlReport
          ./gradlew koverHtmlReport
        continue-on-error: false

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4.6.2
        with:
          name: test-report
          path: app/build/reports/tests

      - name: Upload coverage report
        uses: actions/upload-artifact@v4.6.2
        with:
          name: coverage-report
          path: app/build/reports/kover

      - name: Setup Ruby, JRuby and TruffleRuby
        if: github.event_name == 'pull_request'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Cache Ruby gems
        uses: actions/cache@v4
        if: github.event_name == 'pull_request'
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('ci/unitTest/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ hashFiles('ci/unitTest/Gemfile.lock') }}
            ${{ runner.os }}-gems-${{ hashFiles('ci/unitTest/Gemfile') }}
            ${{ runner.os }}-gems-

      - uses: MeilCli/danger-action@v5
        if: github.event_name == 'pull_request'
        with:
          plugins_file: 'ci/unitTest/Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'ci/unitTest/Dangerfile'
          danger_id: 'danger-pr-unitTest'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
